{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    <style>
        body {
            background-color: grey;
        }
        .page-header {
            color: white;
        }
        .fileUpload {
            position: relative;
            overflow: hidden;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
        #save-code {
            background: None;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13)
            {
                $(document).getElementById("form_choice").submit()
            }
        }
    </script>
    <script>
        metric_toggle = function(e){
            is_set = null
            if ($(e).hasClass("btn-primary")) {
                $(e).removeClass("btn-primary")
                $(e).addClass("btn-default")
                is_set = false
            } else {
                $(e).removeClass("btn-default")
                $(e).addClass("btn-primary")
                is_set = true
            }

            info = JSON.stringify({
                "metric": $(e).attr("value"),
                "is_set": is_set
            })
            $.ajax({
                type: "POST",
                url: "/setting",
                data: { info: info },
                success: function(d) {
                    if (d["success"] == false) {
                        alert("Invalid Value")
                    }
                },
                error: function(d) {
                    alert("Server Error")
                }
            })
        }
    </script>
{% endblock %}

{% block title %} CompareFile {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CompareFile</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">compfile</h1>


        <div class="panel panel-default">
            <div class="panel-heading">
                available metrics
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified">
                {% for metric, setting_info in settings.items() %}
                    {% if setting_info["is_set"] %}
                    <a class="btn btn-primary" value="{{ metric }}" onClick="metric_toggle(this)">
                    {% else %}
                    <a class="btn btn-default" value="{{ metric }}" onClick="metric_toggle(this)">
                    {% endif %}
                        {{ setting_info["readable"] }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="well">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_hyp(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_hyp.file(class="upload", onchange="this.form.submit()", form="form_upload_hyp") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_ref(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_ref.file(class="upload", onchange="this.form.submit()", form="form_upload_ref") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="form_choice" method="post">
                {{ form_choice.hidden_tag() }}
            </form>
            <form id="form_upload_hyp" method="post" enctype="multipart/form-data">
                {{ form_upload_hyp.hidden_tag() }}
            </form>
            <form id="form_upload_ref" method="post" enctype="multipart/form-data">
                {{ form_upload_ref.hidden_tag() }}
            </form>

            <br>
            <div class="container-fluid">
                <div class="row">
                    <button class="btn btn-success btn-lg col-xs-2" type="submit" form="form_choice">compute</button>
                    <a class=" btn btn-danger btn-lg glyphicon glyphicon-trash col-xs-offset-8 col-xs-2" href="/delete"></a>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container ">
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
		</div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if result_tables %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-hyp"><code id="save-code">{{ form_save.name(form="form_save") }}</code></h3>
                <button class="btn-sm btn-info pull-ref glyphicon glyphicon-save" form="form_save"></button>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    {% for metric in result_tables.keys() %}
                    {% if loop.index == 1 %}
                    <li class="active"><a data-toggle="tab" href="#result_{{ metric }}">{{ metric }}</a></li>
                    {% else %}
                    <li><a data-toggle="tab" href="#result_{{ metric }}">{{ metric }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for metric, table in result_tables.items() %}
                    {% if loop.index == 1 %}
                    <div class="tab-pane active" id="result_{{ metric }}">
                    {% else %}
                    <div class="tab-pane" id="result_{{ metric }}">
                    {% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                {% for head in table["thead"] %}
                                    <th>{{ head }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table["tbody"] %}
                                <tr>
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <form id="form_save" method="post">
        {{ form_save.hidden_tag() }}
    </form>
    {% endif %}

    {% if saved_metrics|length > 0 %}
    <div class="container">
        <div class="well">
            <button class="btn btn-info btn-lg" data-toggle="collapse" data-target="#saved-metrics">saved metrics <span class="badge">{{ saved_metrics|length }}</span></button>
            <div id="saved-metrics" class="collapse">
                <div id="accordion" class="panel-group">
                    <br>
                    {% for name, tables in saved_metrics %}
                    {% set loop_index = loop.index %}
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop_index }}">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-hyp"><code>{{ name }}</code>
                                    {% for metric in tables.keys() %}
                                    <span class="label label-default">{{ metric }}</span>
                                    {% endfor %}
                                </h3>
                            </div>
                        </a>
                        <div id="collapse{{ loop_index }}" class="collapse">
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    {% for metric in tables.keys() %}
                                    {% if loop.index == 1 %}
                                    <li class="active"><a data-toggle="tab" href="#saved_{{ metric }}{{ loop_index }}">{{ metric }}</a></li>
                                    {% else %}
                                    <li><a data-toggle="tab" href="#saved_{{ metric }}{{ loop_index }}">{{ metric }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    <li><a data-toggle="tab" href="#saved_comparisons{{ loop_index }}">Comparisons</a></li>
                                </ul>
                                <div class="tab-content">
                                    {% for metric, table in tables.items() %}
                                    {% if loop.index == 1 %}
                                    <div class="tab-pane active" id="saved_{{ metric }}{{ loop_index }}">
                                    {% else %}
                                    <div class="tab-pane" id="saved_{{ metric }}{{ loop_index }}">
                                    {% endif %}
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                {% for head in table["thead"] %}
                                                    <th>{{ head }}</th>
                                                {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in table["tbody"] %}
                                                <tr>
                                                    {% for cell in row %}
                                                    <td>{{ cell }}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    <div class="tab-pane" id="saved_comparisons{{ loop_index }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
