{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    <style>
        .fileUpload {
            position: relative;
            overflow: hidden;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
        #save-code {
            background: None;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13)
            {
                document.getElementById("form_choice").submit()
            }
        }
    </script>
{% endblock %}

{% block title %} CompareFile {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CompareFile</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">compfile</h1>

        <div class="well">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_left(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_left.file(class="upload", onchange="this.form.submit()", form="form_upload_left") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_right(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_right.file(class="upload", onchange="this.form.submit()", form="form_upload_right") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="form_choice" method="post">
                {{ form_choice.hidden_tag() }}
            </form>
            <form id="form_upload_left" method="post" enctype="multipart/form-data">
                {{ form_upload_left.hidden_tag() }}
            </form>
            <form id="form_upload_right" method="post" enctype="multipart/form-data">
                {{ form_upload_right.hidden_tag() }}
            </form>

            <br>
            <div class="container-fluid">
                <div class="row">
                    <button class="btn btn-success btn-lg col-xs-2" type="submit" form="form_choice">compute</button>
                    <a class=" btn btn-danger btn-lg glyphicon glyphicon-trash col-xs-offset-8 col-xs-2" href="/delete"></a>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container ">
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
		</div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if table %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left"><code id="save-code">{{ form_save.name(form="form_save") }}</code></h3>
                <button class="btn-sm btn-info pull-right glyphicon glyphicon-save" form="form_save"></button>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                        {% for head in table["thead"] %}
                            <th>{{ head }}</th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in table["tbody"].items() %}
                        <tr>
                            <td>{{ key }}</td>
                            {% for v in value %}
                            <td>{{ v }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form id="form_save" method="post">
        {{ form_save.hidden_tag() }}
    </form>
    {% endif %}

    {% if saved_metrics|length > 0 %}
    <div class="container">
        <div class="well">
            <button class="btn btn-info btn-lg" data-toggle="collapse" data-target="#saved-metrics">saved metrics <span class="badge">{{ saved_metrics|length }}</span></button>
            <div id="saved-metrics" class="collapse">
                <div id="accordion" class="panel-group">
                    <br>
                    {% for name, table in saved_metrics %}
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}">
                            <div class="panel-heading clearfix">
                                <h3 class="panel-title pull-left"><code>{{ name }}</code></h3>
                            </div>
                        </a>
                        <div id="collapse{{ loop.index }}" class="collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        {% for head in table["thead"] %}
                                            <th>{{ head }}</th>
                                        {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in table["tbody"].items() %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            {% for v in value %}
                                            <td>{{ v }}</td>
                                            {% endfor %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
