[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
allennlp = "*"
flask = "*"
flask-cors = "*"
flask-restx = "*"
gensim = "*"
gunicorn = "*"
marshmallow = "*"
nltk = "*"
numpy = "*"
psutil = "*"
pyemd = "*"
pytorch-transformers = "*"
requests = "*"
rouge = "*"
scikit-learn = "*"
sentence_transformers = "*"
tensorflow = "*"
tensorflow_hub = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.8"
