[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
bert-score = "*"
flask = "*"
flask-cors = "*"
flask-mongoengine = "*"
flask-restx = "*"
gensim = "*"
gunicorn = "*"
marshmallow = "*"
networkx = "*"
newspaper3k = "*"
nltk = "*"
numpy = "*"
pandas = "*"
psutil = "*"
pyemd = "*"
pytorch-transformers = "*"
requests = "*"
rouge = "*"
scikit-learn = "*"
sentence_transformers = "*"
spacy = "*"
syntok = "*"
torch = "*"

[requires]
python_version = "3.8"
