[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
moverscore = {git = "https://github.com/dominik-schwabe/emnlp19-moverscore.git"}

[requires]
python_version = "3.10"
