{% extends "layout.html" %}
{%block content%}
<style>
    .button-compare {
        float: right;
    }
</style>

<script src="{{url_for('summary_viewer.static', filename='js/pagination.js')}}"></script>
<script src="{{url_for('summary_viewer.static', filename='js/fragcolors.js')}}"></script>
<div class="uk-container">
        <div class="uk-position-center" id="loading-text">Loading...</div>
        <div uk-spinner="ratio:5" class="uk-position-center" id="loading"></div>
</div>

    <div class="uk-container uk-container-large uk-margin-top">
        <h3>{{model_name}}</h3>
        <div id="pagination-controls" class="uk-margin-bottom" hidden>
            <span uk-icon="chevron-double-right" class="uk-text-primary">Jump to </span>
            <input type="number" id="goto-page" class="uk-input uk-width-small" placeholder="1">

            <p class=" uk-text-danger" id="goto-error-message">Search exceeded the maximum number of records.</p>
        </div>
       
        <div class="uk-container uk-container-large" id="content" hidden>

            {%for item in records%}
            <div class="result-item">
                <div class=" uk-button-group-large uk-margin-bottom">
                        <button
                            class="uk-button uk-button-primary uk-margin-medium-right {{'uk-disabled' if loop.index == 1}}  "
                            id="previous-page" onclick="pagination.showPage({{loop.index}}-1)"><span
                                uk-icon="chevron-left">Previous </span></button>
                        <button
                            class="uk-button uk-button-primary uk-margin-auto {{'uk-disabled' if loop.index >= loop.length}}  "
                            id="next-page" onclick="pagination.showPage({{loop.index}}+1)"><span
                                uk-icon="chevron-right">Next
                            </span></button>
                </div>

                <div class="uk-flex">
                    <div class=" uk-width-1-1 uk-card uk-card-default uk-card-body document-border">
                        <h4 class="uk-card-title">Document</h4>
                        <p class="uk-text-break document-text">{{item.document}}</p>
                    </div>
                
                <div class="uk-flex uk-flex-column uk-width-1-1 uk-margin-left">
                    <!--Reference summary card-->
                    <div class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-small-bottom summary-border">
                        <h4 class="uk-card-title">Reference
                            <button class="uk-button uk-dark uk-button-link button-compare" uk-icon="file-text"
                                id="ref-with-doc">Document </button>
                        </h4>
                        <p class="uk-text-break reference-text">{{item.reference}}</p>

                    </div>
                    <!--Generate summaries-->
                    <div class="uk-card uk-card-default uk-card-small uk-card-body summary-border">
                        <h4 class="uk-card-title">Generated
                            <button class="uk-button uk-dark uk-button-link button-compare" uk-icon="file-text"
                                id="pred-with-doc">Document </button>
                            <button class="uk-button uk-dark uk-button-link button-compare uk-margin-right"
                                uk-icon="file-text" id="pred-with-ref">Reference </button>
                        </h4>
                        <p class="uk-text-break prediction-text">{{item.hypothesis}}</p>
                    </div>
                </div>
            </div>

            </div>
            <!--End of item container-->

            {%endfor%}

        </div>
    </div>

<!-- <footer class="uk-section-small uk-padding-small uk-section-muted " id="highlight-footer" hidden>
    <div class="uk-container">
        <p class="uk-align-right">Text highlighting code &copy; 2012 <a
                href="https://vroniplag.wikia.org/de/wiki/MediaWiki:Fragcolors/code.js">Marcusb @ VroniPlag
                Wiki</a>.
        </p>
    </div>

</footer> -->
<script>
    // Utility to remove highlighting classes

    $.fn.removeClassStartingWith = function (filter) {
        $(this).removeClass(function (index, className) {
            return (className.match(new RegExp("\\S*" + filter + "\\S*", 'g')) || []).join(' ')
        });
        return this;
    };


    var pagination = new Pagination();

    $(document).ready(function () {
        $('#goto-error-message').hide();
        pagination.itemsPerPage = 1;
        pagination.pagingContainer = $('#content');
        pagination.items = $('.result-item', pagination.pagingContainer);
        pagination.showPage(1);

        $('#goto-page').on("keydown", function (e) {
            if (e.keyCode == 13) {
                var page_number = $(this).val();
                if (page_number <= pagination.items.length) {
                    $('#goto-error-message').hide();
                    pagination.showPage(page_number);
                } else {
                    $('#goto-error-message').show();
                }
            }

        })

    });

    // Hide controls until all records are completely loaded
    $(window).on("load", function () {
        $('#loading-text').attr("hidden", true);
        $('#loading').attr("hidden", true);
        $('#pagination-controls').attr("hidden", false);
        $('#content').attr("hidden", false);
        $('#highlight-footer').attr("hidden", false);
    })

    // Compute text overlaps and highlight them 

    var highlightOverlap = function (element1, element2) {
        var last_selected = [];

        var element_1 = $(element1);
        var element_2 = $(element2);

        $(last_selected).each(function (i) {
            var x = last_selected[i];
            $(x[0]).html(x[1].orig);
        });

        var textblocks = [new textblock(element_1), new textblock(element_2)];

        last_selected = [
            [element_1, textblocks[0]],
            [element_2, textblocks[1]]
        ];
        var list1 = textblocks[0].words;
        list1 = clean_list(list1);
        var list2 = textblocks[1].words;
        list2 = clean_list(list2);

        var docs = [list1[0], list2[0]];
        var ids = [list1[1], list2[1]];

        function colorize(sims) {
            /* Colors have css classes "fragmark1" to "fragmark9" */
            var col = 0;
            var nr_col = 9;
            for (var i = 0; i < sims.length; i++) {
                var res = sims[i];

                textblocks[res[0]].apply_class("fragmark-" + (col + 1), ids[res[0]][res[1]], ids[res[
                    0]][res[1] + res[4] - 1]);
                textblocks[res[2]].apply_class("fragmark-" + (col + 1), ids[res[2]][res[3]], ids[res[
                    2]][res[3] + res[4] - 1]);

                col = (col + 1) % nr_col;
            }
            textblocks[0].realize();
            textblocks[1].realize();
        }
        var overlap_size = 1;
        var sims = cmp_text(docs, overlap_size);

        colorize(sims);

    }

    // Watch for changes to #content div and enable text highlighting

    var removeAllHighlightingClasses = function () {
        $('.document-text span').removeClassStartingWith('fragmark-');
        $('.reference-text span').removeClassStartingWith('fragmark-')
        $('.prediction-text span').removeClassStartingWith('fragmark-')
    }
    var observer = new MutationObserver(function (mutations) {
        mutations.forEach(function (mutation) {
            if (mutation.addedNodes.length) {

                $('#ref-with-doc').on('click', function () {
                    removeAllHighlightingClasses();
                    highlightOverlap('.document-text', '.reference-text');
                });

                $('#pred-with-doc').on('click', function () {
                    removeAllHighlightingClasses();
                    highlightOverlap('.document-text', '.prediction-text');
                });

                $('#pred-with-ref').on('click', function () {
                    removeAllHighlightingClasses();
                    highlightOverlap('.reference-text', '.prediction-text');
                })

                if ($('#previous-page').hasClass('uk-disabled')) {
                    $('#previous-page').prop("disabled", true);
                };

                if ($('#next-page').hasClass('uk-disabled')) {
                    $('#next-page').prop("disabled", true);
                };

            }
        })
    })

    var content_div = document.querySelector('#content');
    observer.observe(content_div, {
        childList: true,
        attributes: true
    })
</script>
{% endblock %}
