[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
transformers = "*"
torch = "*"
sentencepiece = "*"
protobuf = "~=3.20.2"

[requires]
python_version = "3.9"
