[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
sentencepiece = "==0.1.96"
py-rouge = "*"
tqdm = "*"
pandas = "*"
allennlp = "*"
requests = "*"
nltk = "*"
huggingface-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
