  /* Styles for ADU types*/
  /* 6 types of ADUs : TITLE, ANECDOTE, ASSUMPTION, COMMON-GROUND, STATISTICS, NO-UNIT*/

  span{
    font-size: 16px;
  }
  .assumption {
      color: #253759;
      background-color: #f29f9f;
  }

  .anecdote {
      color: #253759;
      background-color: #aff2be;
  }

  .testimony {
      color: #253759;
      background-color: #e8a3ff;
  }

  .statistics {
      color: #253759;
      background-color: #F2CA80;
  }

  .common-ground {
      color: #253759;
      background-color: #a5e6ed;
  }

  .title {
      text-transform: uppercase;
      display: block;
      color: #222640;
      font-weight: bold;
  }

  .sentence-padding {
      padding-top: 1px;
      padding-bottom: 1.5px;
      margin-bottom: 4px;
  }

  .blur-span {
      color: transparent;
  }

  /* Buttons for ADUs*/

  .toggle-adu{
    border-radius: 16px;
  }

  #toggle-assumption {
      color: #253759;
      background-color: #f29f9f;
  }

  #toggle-anecdote {
      color: #253759;
      background-color: #aff2be;
  }

  #toggle-testimony {
      color: #253759;
      background-color: #e8a3ff;
  }

  #toggle-statistics {
      color: #253759;
      background-color: #F2CA80;
  }

  #toggle-common-ground {
      color: #253759;
      background-color: #a5e6ed;
  }

  .toggle-disabled {
      background-color: #D9D9D9 !important;
  }