[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
absl-py = "*"
numpy = "*"
discretemarkovchain = "*"
nltk = "*"
scikit-learn = "*"
tensorflow = "*"
tensorflow-hub = "*"

[dev-packages]

[requires]
python_version = "3.10"
