{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    <style>
        td {
            text-align: justify;
            text-justify: inter-word;
        }
        body { background-color: grey; }
        .label-default { color: lightgrey; }
        .page-header { color: white; }
        .fileUpload {
            position: relative;
            overflow: hidden;
        }
        .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        .panel-heading h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: normal;
            width: 75%;
            padding-top: 8px;
        }
        #save-code { background: None; }
    </style>
    <style type="text/css">
        .fragmark1 { background-color: #c2f598; }
        .fragmark2 { background-color: #a7c6f2; }
        .fragmark3 { background-color: #f29f9f; }
        .fragmark4 { background-color: #aff2be; }
        .fragmark5 { background-color: #e8a3ff; }
        .fragmark6 { background-color: #e6e181; }
        .fragmark7 { background-color: #b8b8ff; }
        .fragmark8 { background-color: #f5cf9f; }
        .fragmark9 {
            background-color: #a5e6ed;
        }
        .code-reference {
            font-size: x-small; color: gray;
        }
    </style>'

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('standalone.static', filename='fragcolors.js') }}"></script>
    <script>
        document.onkeydown=function(evt){
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if(keyCode == 13)
            {
                $(document).getElementById("form_choice").submit()
            }
        }
    </script>
    <script>
        metric_toggle = function(e) {
            is_set = null
            if ($(e).hasClass("btn-primary")) {
                $(e).removeClass("btn-primary")
                $(e).addClass("btn-default")
                is_set = false
            } else {
                $(e).removeClass("btn-default")
                $(e).addClass("btn-primary")
                is_set = true
            }

            info = JSON.stringify({
                "metric": $(e).attr("value"),
                "is_set": is_set
            })
            $.ajax({
                type: "POST",
                url: "/standalone/setting",
                data: { info: info },
                success: function(d) {
                    if (d["success"] == false) {
                        alert("Invalid Value")
                    }
                },
                error: function(d) {
                    alert("Server Error")
                }
            })
        }
        get_comparison = function(id) {
            tbody = $('#' + id + ' tbody')
            if (tbody.children().length == 0) {
                $.ajax({
                    type: "POST",
                    url: "/standalone/getsaved",
                    data : { info: JSON.stringify({"id": id}) },
                    success: function(d) {
                        if (d["success"] == false) {
                            alert("Invalid Value")
                        } else {
                            hyps_refs = d["hyps_refs"]
                            for (i = 0; i < hyps_refs.length; i++) {
                                row = $("<tr><td>" + (i+1) + "</td><td>" + hyps_refs[i][0] + "</td><td>" + hyps_refs[i][1] + "</td></tr>")
                                tbody.append(row)
                                tds = row.children("td")
                                td1 = $(tds[2])
                                td2 = $(tds[1])

                                var textblocks = [new textblock(td1), new textblock(td2)];

                                last_selected = [[td1, textblocks[0]], [td2, textblocks[1]]];
                                var list1 = textblocks[0].words;
                                list1 = clean_list(list1);
                                var list2 = textblocks[1].words;
                                list2 = clean_list(list2);

                                var docs = [list1[0], list2[0]];
                                var ids = [list1[1], list2[1]];

                                function colorize(sims)
                                {
                                    /* Colors have css classes "fragmark1" to "fragmark9" */
                                    var col = 0;
                                    var nr_col = 9;
                                    for (var i = 0; i < sims.length; i++)
                                    {
                                        var res = sims[i];

                                        textblocks[res[0]].apply_class("fragmark" + (col+1), ids[res[0]][res[1]], ids[res[0]][res[1]+res[4]-1]);
                                        textblocks[res[2]].apply_class("fragmark" + (col+1), ids[res[2]][res[3]], ids[res[2]][res[3]+res[4]-1]);

                                        col = (col + 1) % nr_col;
                                    }
                                    textblocks[0].realize();
                                    textblocks[1].realize();
                                }
                                var len = 1;
                                var sims = cmp_text(docs, len);

                                colorize(sims);
                            }
                        }
                    },
                    error: function(d) {
                        alert("Server Error")
                    }
                })
            }
        }
    </script>
{% endblock %}

{% block title %} CompareFile {% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">CompareFile</a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">compfile</h1>


        <div class="panel panel-default">
            <div class="panel-heading">
                available metrics
            </div>
            <div class="panel-body">
                <div class="btn-group btn-group-justified">
                {% for metric, setting_info in settings.items() %}
                    {% if setting_info["is_set"] %}
                    <a class="btn btn-primary" value="{{ metric }}" onclick="metric_toggle(this)">
                    {% else %}
                    <a class="btn btn-default" value="{{ metric }}" onclick="metric_toggle(this)">
                    {% endif %}
                        {{ setting_info["readable"] }}
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="well">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_hyp(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_hyp.file(class="upload", onchange="this.form.submit()", form="form_upload_hyp") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="input-group">
                            {{ form_choice.file_ref(class="form-control", form="form_choice") }}
                            <div class="input-group-btn">
                                <div class="fileUpload btn btn-primary glyphicon glyphicon-upload">
                                    {{ form_upload_ref.file(class="upload", onchange="this.form.submit()", form="form_upload_ref") }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <form id="form_choice" method="post">
                {{ form_choice.hidden_tag() }}
            </form>
            <form id="form_upload_hyp" method="post" enctype="multipart/form-data">
                {{ form_upload_hyp.hidden_tag() }}
            </form>
            <form id="form_upload_ref" method="post" enctype="multipart/form-data">
                {{ form_upload_ref.hidden_tag() }}
            </form>

            <br>
            <div class="container-fluid">
                <div class="row">
                    <button class="btn btn-success btn-lg col-xs-2" type="submit" form="form_choice">compute</button>
                    <a class=" btn btn-danger btn-lg glyphicon glyphicon-trash col-xs-offset-8 col-xs-2" href="/delete"></a>
                </div>
            </div>
        </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container ">
    {% for message in messages %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
            {{message}}
		</div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if result_tables %}
    <div class="container">
        <div class="panel panel-success">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left"><code id="save-code">{{ form_save.name(form="form_save") }}</code></h3>
                <button class="btn-sm btn-info pull-right glyphicon glyphicon-save" form="form_save"></button>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    {% for metric in result_tables.keys() %}
                    {% if loop.index == 1 %}
                    <li class="active"><a data-toggle="tab" href="#result_{{ metric }}">{{ metric }}</a></li>
                    {% else %}
                    <li><a data-toggle="tab" href="#result_{{ metric }}">{{ metric }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for metric, table in result_tables.items() %}
                    {% if loop.index == 1 %}
                    <div class="tab-pane active" id="result_{{ metric }}">
                    {% else %}
                    <div class="tab-pane" id="result_{{ metric }}">
                    {% endif %}
                        <table class="table">
                            <thead>
                                <tr>
                                {% for head in table["thead"] %}
                                    <th>{{ head }}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in table["tbody"] %}
                                <tr>
                                    {% for cell in row %}
                                    <td>{{ cell }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <form id="form_save" method="post">
        {{ form_save.hidden_tag() }}
    </form>
    {% endif %}

    {% if saved_calculations|length > 0 %}
    <div class="container">
        <div class="well">
            <button class="btn btn-info btn-lg" data-toggle="collapse" data-target="#saved-calculations">saved calculations <span class="badge">{{ saved_calculations|length }}</span></button>
            <div id="saved-calculations" class="collapse">
                <div id="accordion" class="panel-group">
                    <br>
                    {% for cal_id, (name, tables, _, _) in saved_calculations.items() %}
                    {% set loop_index = loop.index %}
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordion" href="#saved_comparison{{ loop_index }}">
                            <div class="panel-heading">
                                <code>{{ name }}</code>
                                    <div class="pull-right">
                                    {% for metric in settings.keys() %}
                                    {% if metric in tables.keys() %}
                                    <span class="label label-primary">{{ metric }}</span>
                                    {% else %}
                                    <span class="label label-default">{{ metric }}</span>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                            </div>
                        </a>
                        <div id="saved_comparison{{ loop_index }}" class="collapse">
                            <div class="panel-body">
                                <ul class="nav nav-tabs">
                                    {% for metric in tables.keys() %}
                                    {% if loop.index == 1 %}
                                    <li class="active"><a data-toggle="tab" href="#saved_{{ metric }}{{ loop_index }}">{{ metric }}</a></li>
                                    {% else %}
                                    <li><a data-toggle="tab" href="#saved_{{ metric }}{{ loop_index }}">{{ metric }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    <li><a data-toggle="tab" href="#saved_comparisons{{ loop_index }}" onclick="get_comparison({{ cal_id }})">Comparisons</a></li>
                                </ul>
                                <div class="tab-content">
                                    {% for metric, table in tables.items() %}
                                    {% if loop.index == 1 %}
                                    <div class="tab-pane active" id="saved_{{ metric }}{{ loop_index }}">
                                    {% else %}
                                    <div class="tab-pane" id="saved_{{ metric }}{{ loop_index }}">
                                    {% endif %}
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                {% for head in table["thead"] %}
                                                    <th>{{ head }}</th>
                                                {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in table["tbody"] %}
                                                <tr>
                                                    {% for cell in row %}
                                                    <td>{{ cell }}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    <div class="tab-pane" id="saved_comparisons{{ loop_index }}">
                                        <table id="{{ cal_id }}" class="table">
                                            <thead>
                                                <tr>
                                                    <th>hyp/ref number</th>
                                                    <th>hyp</th>
                                                    <th>ref</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
