/* body { font-family: monospace; } */
.uk-background-secondary {
    background-color: #323232 !important;
}

.left-border {
    border-left: 4px solid #B02F2C;
}

.left-border-thin {
    border-left: 2px solid #B02F2C;
}


.uk-tab > li.uk-active > a {color: #B02F2C !important;}


.fragmark1 { background-color: #c2f598; }
.fragmark2 { background-color: #a7c6f2; }
.fragmark3 { background-color: #f29f9f; }
.fragmark4 { background-color: #aff2be; }
.fragmark5 { background-color: #e8a3ff; }
.fragmark6 { background-color: #e6e181; }
.fragmark7 { background-color: #b8b8ff; }
.fragmark8 { background-color: #f5cf9f; }
.fragmark9 { background-color: #a5e6ed; }
