/* body { font-family: monospace; } */
/*
General rules
- Use pt only for setting fonts, px for everything else. See https://www.w3.org/Style/Examples/007/units.en.html

*/
/* Styling scrollbar */

.tooltip {
  padding: 0px 5px !important;
}

body {
  scrollbar-width: 10px !important;
  scrollbar-color: #55a6d1 #9bc4d8;
}

/* Scrollbar styles*/
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #9bc4d8;
}

*::-webkit-scrollbar-thumb {
  background-color: #55a6d1;
  border-radius: 20px;
  border: 3px solid #9bc4d8;
}

.summary-border {
  padding: 10px 10px;
  border-radius: 20px;
  border: 2.5px solid #376c47;
}

textarea::placeholder {
  line-height: 8em;
  text-align: center;
  font-size: 1.3em;
}

.summarizer-toggle-view-enter-done {
  transform: rotate(0);
}
.summarizer-toggle-view-enter {
  transform: rotate(90deg);
}
.summarizer-toggle-view-enter-active {
  transform: rotate(0);
  transition: transform 300ms;
}
.summarizer-toggle-view-exit-done {
  transform: rotate(90deg);
}
.summarizer-toggle-view-exit {
  transform: rotate(0);
  transition: transform 300ms;
}
.summarizer-toggle-view-exit-active {
  transform: rotate(90deg);
  transition: transform 300ms;
}
