[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
flask = "*"
gunicorn = "*"
transformers = {extras = ["torch"],version = "*"}

[requires]
python_version = "3.8"
