[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==1.5.0"
numpy = "*"
requests = "*"
tqdm = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.8"
