[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
transformers = "*"
sentencepiece = "*"
protobuf = "==3.20.*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.10"
