[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
doc2json = {git = "https://github.com/allenai/s2orc-doc2json"}
newspaper3k = "*"
nltk = "*"
beautifulsoup4 = "*"
boto3 = "*"
aiohttp = "*"
lxml = "*"
python-multipart = "*"
python-magic = "*"
latex2mathml = "*"
fastapi = "*"
uvicorn = "*"
spacy = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
